@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove the default padding */
* {
    margin: 0;
    padding: 0;
}

/* Hide scrollbars */
body {
    overflow: hidden;
}

/* tailwindcss custom classes */
@layer components {
    .btn-mm-code {
        @apply float-left w-12 h-12 m-1;
    }
}

/* sprites */
.sprite {
    width: 129px;
    height: 129px;

    background-image: url('../img/sprite.png');

    position: absolute;
}

.toast {
    background-position: 0 0;
}