@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove the default padding */
* {
    margin: 0;
    padding: 0;
}

/* Hide scrollbars */
body {
    overflow: hidden;
}

/* tailwindcss custom classes */
@layer components {
    .btn-mm-code {
        @apply float-left w-12 h-12 m-1;
    }
}

/* sprites */
.sprite {
    width: 128px;
    height: 128px;

    background-image: url('../img/sprite.png');

    position: absolute;
}

.plate {
    background-position: -128px 0px;
}

.bowl {
    background-position: -256px 0px;
}

.toast {
    background-position: 0px -128px;
}

.slice_of_bread {
    background-position: 0px -256px;
}

.jelly_jar {
    background-position: -128px -128px;
}

.jelly {
    background-position: -128px -256px;
}

.peanut_butter_jar {
    background-position: -256px -128px;
}

.peanut_butter {
    background-position: -256px -256px;
}

.avacado_slices {
    background-position: -384px -128px;
}

.avacado {
    background-position: -384px -256px;
}